*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:rgb(0, 0, 0);
}

label{
    display: block;
}

input{
    display: block;
    width: 100%;
    opacity: 0.5;
    outline: none;
    padding: 5px 3px;
}

.registerForm{
    width: 300px;   
    margin: 250px auto 0;
    background-color: rgba(0, 170, 255, 0.711);
    padding: 20px 30px;
    border-radius: 8px;
}

.registerForm h1{
    text-align: center;
    margin-bottom: 15px;
}

.registerForm button{
    display: block;
    width: 170px;
    margin: 15px auto 0;
    padding: 5px;
    background-color:rgba(137, 43, 226, 0.339);
    border: 2px solid rgba(93, 90, 90, 0.45);
    cursor: pointer;
}
input.error{
    border: 2px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
  }
